* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inclusive Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 172, 43);
    border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(4, 139, 38);
}

body {
    background-size: 52px 52px;
    background-image: repeating-linear-gradient(to right, rgba(0, 0, 0, 0.150), rgba(0, 0, 0, 0.150) 6px, #ffffff 2.6px, #ffffff);
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 2rem;
    margin-bottom: 100px;
    border: 1px solid rgba(0, 0, 0, 0.37);
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.315);
    position: relative;
    cursor: default;
}

.main img {
    position: absolute;
    width: 8rem;
    top: 0;
    right: 0;
}

.title {
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
}

.title h1{
    font-size: 5rem;
    margin-bottom: 10px;
}

.title h3 {
    font-size: 2rem;
    font-style: italic;
}

.green {
    color: rgb(11, 197, 11);
}

.main p {
    text-align: center;
}

.nav-btn {
    display: flex;
    width: 100%;
    justify-content: center;
}

.nav-btn a {
    text-decoration: none;
    background-color: rgb(0, 172, 43);
    color: white;
    font-size: 1.2rem;
    margin: 1.3rem;
    padding: 0.5rem 1.5rem;
    width: 125px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.171)
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.7rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.116);
}

.barcode-container {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #ffffff;
    height: fit-content;
    padding: 1rem;
    margin-bottom: 100px;
    border: 1px solid rgba(0, 0, 0, 0.37);
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.315);
    width: 900px;
}

.barcode-config, .barcode-download {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.barcode-config {
    border-right: 1px dashed rgba(0, 0, 0, 0.178);
}

.barcode-download {
    border-left: 1px dashed rgba(0, 0, 0, 0.178);
    justify-content: space-between;
}

.barcode-config input, select {
    border: 1px solid rgba(128, 128, 128, 0.226);
    outline: 0;
    width: 60%;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.barcode-config input[type="text"] {
    cursor: text;
}

.barcode-config input[type="color"] {
   padding: 0;
   width: 30%;
}

button {
    background-color: rgb(0, 172, 43);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.192);
    padding: 0.5rem 1.5rem;
    color: #ffffff;
    margin-top: 15px;
    cursor: pointer;
}

#barcode {
    width: 100%;
}


@media (max-width: 767px) {

    .main {
        padding: 1rem;
    }

    .main img {
        position: absolute;
        width: 3.5rem;
        top: 0;
        right: 0;
    }

    .title h1 {
        font-size: 2rem;
    }

    .title h3 {
        font-size: 1.5rem;
    }

    .nav-btn a {
        margin-inline: 12px;
    }

    .barcode-container {
        display: grid;
        grid-template-columns: auto;
        width: 800px;
        height: 100vh;
    }

    .barcode-config, .barcode-download {
        border: none;
        width: 100%;
        margin: 25px auto;
    }
}
