* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inclusive Sans', sans-serif;
}

body {
    scroll-behavior: smooth;
    background-size: 52px 52px;
    background-image: repeating-linear-gradient(to right, rgba(0, 0, 0, 0.150), rgba(0, 0, 0, 0.150) 6px, #ffffff 2.6px, #ffffff);
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 2rem;
    margin-bottom: 100px;
    border: 1px solid rgba(0, 0, 0, 0.37);
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.315);
    position: relative;
}

.main img {
    position: absolute;
    width: 8rem;
    top: 0;
    right: 0;
}

.title {
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
}

.title h1{
    font-size: 5rem;
    margin-bottom: 10px;
}

.title h3 {
    font-size: 2rem;
    font-style: italic;
}

.green {
    color: rgb(11, 197, 11);
}

.main p {
    text-align: center;
}

.nav-btn {
    display: flex;
    width: 100%;
    justify-content: center;
}

.nav-btn a {
    text-decoration: none;
    background-color: rgb(0, 172, 43);
    color: white;
    font-size: 1.2rem;
    margin: 1.3rem;
    padding: 0.5rem 1.5rem;
    width: 125px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.171)
}

.barcode-container {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #ffffff;
    height: fit-content;
    padding: 1rem;
    margin-bottom: 100px;
    border: 1px solid rgba(0, 0, 0, 0.37);
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.315);
    width: 800px;
}

.barcode-config, .barcode-download {
    background-color: rgb(21, 147, 151);
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0.5rem;
    
}

.barcode-config input, select {
    border: 1px solid rgba(128, 128, 128, 0.322);
    outline: 0;
    
}

.barcode-download {
    background-color: red;
}



@media (max-width: 767px) {

    .main {
        padding: 1rem;
    }

    .main img {
        position: absolute;
        width: 3.5rem;
        top: 0;
        right: 0;
    }

    .title h1 {
        font-size: 2rem;
    }

    .title h3 {
        font-size: 1.5rem;
    }

    .nav-btn a {
        margin-inline: 12px;
    }

    .barcode-container {
        display: grid;
        grid-template-columns: auto;
        background-color: #ffffff;
        height: fit-content;
        padding: 1rem;
        margin-bottom: 100px;
        border: 1px solid rgba(0, 0, 0, 0.37);
        border-radius: 5px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.315);
        width: 800px;
    }
    
}
